.Country {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:200px;
    height:350px;
   background-color: white;
    flex: 1 1 20%;
    margin-right: 5%;
    margin-bottom: 10%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .Country:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .detail{
      margin-top: 10%;
      padding-left: 15%;
      padding-top: 10%;
      padding-bottom: 10%;
  }
  @media only screen and (max-width: 400px){
    .Country {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      
      background-color: white;
      flex: 1 1 20%;
      margin-right: 5%;
      margin-bottom: 10%;
      border-radius: 5px;
      width: 90%;
      overflow: hidden;
    }
    

  }